#loading{
    width: 99%;
    height: 40vh;
}

path {
    fill: none;
    stroke: black;
    stroke-width: 0.3;
    
}

#new{
    stroke: red;
    stroke-width: 0.8;
    stroke-dasharray: 4px, 1px;
}

polyline {
    fill: none;
    stroke: green;
    stroke-width: 1;
}
table{
    width: 100vw;
}
td{
    size: auto;
}

textarea{
    height: 10vh;
    width: 90%;
}
